#-------------------------------------------------------------------------------
# Copyright 2019 Dominik Salvet
# github.com/dominiksalvet/gitpack
#-------------------------------------------------------------------------------

language: shell

jobs:
  include:
    - stage: analysis
      before_script: shellcheck --version
      script: .ci/analysis.sh

    - stage: test
      os: linux
      git:
        clone: false
      before_script: . .ci/clone.sh
      script: .ci/test.sh 2>&1 1>/dev/null
      after_failure: .ci/dump.sh

    - os: osx
      git:
        clone: false
      before_script: . .ci/clone.sh
      script: .ci/test.sh 2>&1 1>/dev/null
      after_failure: .ci/dump.sh
